aiohttp==3.6.2
arrow==0.15.5
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
cassiopeia==4.0.8
certifi==2022.12.7
chardet==3.0.4
colorama==0.4.3
datapipelines==1.0.7
decorator==4.4.1
discord==1.0.1
discord.py==1.3.1
idna==2.8
importlib-metadata==1.4.0
merakicommons==1.0.9
more-itertools==8.1.0
multidict==4.7.4
networkx==2.4
packaging==20.0
pep8==1.7.1
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyparsing==2.4.6
pytest==5.3.4
python-dateutil==2.8.1
requests==2.22.0
six==1.14.0
spotipy==2.7.1
urllib3==1.25.3
wcwidth==0.1.8
websockets==9.1
yarl==1.4.2
zipp==2.0.0
